<article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    {{> post-media same_height=true ratio="rectangle"}}
    <div class="post-wrapper">
        {{> post-header tag="h2"}}
    </div>
</article>