{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}} no-image single-post">
                {{> post-header single=true number_date=true show_tags=true}}
                <div class="post-content kg-canvas u-text-format">
                    {{content}}
                </div>
            </article>
        {{/post}}
    </main>
</div>