<section class="widget widget-links">
    {{#if @site.facebook}}
        <a class="widget-social-item" href="{{facebook_url @site.facebook}}"
           target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-f fa-fw"></i>
        </a>
    {{/if}}
    {{#if @site.twitter}}
        <a class="widget-social-item" href="{{twitter_url @site.twitter}}"
           target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter fa-fw"></i>
        </a>
    {{/if}}
    <a class="widget-social-item" href="https://www.instagram.com/at0dd/"
       target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram fa-fw"></i>
    </a>
    <a class="widget-social-item" href="mailto:atodd@atodd.io"
       target="_blank" rel="noopener noreferrer">
        <i class="fas fa-envelope fa-fw"></i>
    </a>
</section>