.term {
    margin-top: 30px;
    margin-bottom: 45px;
    max-width: 500px;
}

.term-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: var(--primary-text-color);
    font-size: 30px;
    font-weight: 800;
}

@media (max-width: 767px) {
    .term {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .term-name {
        font-size: 24px;
    }
}
