.widget + .widget {
    margin-top: 60px;
}

.widget li {
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}

.widget li + li {
    margin-top: 20px;
}

.widget-links {
    position: absolute;
    bottom: 20px;
}

.widget-title {
    margin-bottom: 30px;
    color: var(--secondary-text-color);
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.widget-social-item {
    margin: 0 2px;
    width: 30px;
    height: 30px;
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    transition: color 0.2s var(--animation-base);
}

.widget-social-item:hover {
    color: var(--dark-gray-color);
}
